
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Open+Sans');

html {
  font-size: 62.5%;
  --bg-color: #fffffb;
  --secondary-color: #1a1a1a;
  --accent: #de692a;

  --primary-font: 'Montserrat Alternates', sans-serif;
  --secondary-font:  'Open Sans', sans-serif;
}

body {
  font-size: 1.8rem;
  background: var(--bg-color);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;  
}

.App-main {
  background: red;
}